.contect form div{
    display: flex;
}
.contect textarea{
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 100px;
    border-radius: 5px;
    margin-bottom: 20px
}
.contect textarea,
.contect input{
    width: 100%;
    margin-bottom: 20px;
    margin-right: 10px;
}
.contect form{
    padding: 30px;
}
.contect h4{

    margin-bottom: 30px;
}
@media screen and (max-width:768) {
    .contect h4{
        width: 100%;
        margin-bottom: 30px;
    }
    .contect form div{
        flex-direction: column;
    }
    .contect input{
        width: 100%;
    }
}